<a href="https://colab.research.google.com/github/Nukaraju2003/Kaggle-courses/blob/main/kaggleIntrotoMachineLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# save filepath to varible for easier access
melbourne_file_path = '/content/melb_data.csv'
# read the data and store data in DataFrame titled melbourne_data 
melbourne_data = pd.read_csv(melbourne_file_path)
#print a summary of the data in Melbourne data
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

### Exercise: Explore your Data

In [ ]:
import pandas as pd

# path of the file to read 
iowa_file_path = '/content/melb_data.csv'

home_data = pd.read_csv(iowa_file_path)

home_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

## Your First Machine Learning Model

In [ ]:
import pandas as pd
melbourne_file_path = '/content/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path)
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [ ]:
melbourne_data = melbourne_data.dropna(axis=0)

In [ ]:
y = melbourne_data.Price

In [ ]:
melbourne_features = ['Rooms','Bathroom','Landsize','Lattitude','Longtitude']

In [ ]:
X =melbourne_data[melbourne_features]

In [ ]:
# Review data
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [ ]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

## Building Your Model

#### You will use the scikit-learn library to create your models. When coding, this library is written as sklearn.Scikit-learn is easily the most popular library for modeling the types of data typically stored in DataFrames.

The steps to building and using a model are:

Define: What type of model will it be? A decision tree? Some other type of model? Some other parameters of the model type are specified too.
Fit: Capture patterns from provided data. This is the heart of modeling.
Predict: Just what it sounds like
Evaluate: Determine how accurate the model's predictions are.

In [ ]:
from sklearn.tree import DecisionTreeRegressor

melbourne_model = DecisionTreeRegressor(random_state =1)

melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [ ]:
print("Making predictions for the following 5 houses: ")     # for all values melbourne_model.predict(X)
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

### Model fitting is a measure of how well a machine learning model generalizes to similar data to that on which it was trained.A model that is well-fitted produces more accurate outcomes. A model that is overfitted matches the data too closely

# Model Validation

model validation to measure the quality of your model.Measuring model quality is the key to iteratively improving your models.

There are many metrics for summarizing model quality, but we'll start with one called Mean Absolute Error (also called MAE).

error = actual - Predicted
With the MAE metric, we take the absolute value of each error. This converts each error to a positive number.

In [ ]:
# Data Loading Code Hidden Here
import pandas as pd

# Load data
melbourne_file_path = '/content/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path)

# Filter rows with missing price values
filtered_melbourne_data = melbourne_data.dropna(axis=0)
#filtered_melbourne_data

#Choose target and features
y = filtered_melbourne_data.Price
melbourne_features = ['Rooms','Bathroom','Landsize','BuildingArea','YearBuilt','Lattitude','Longtitude']
X = filtered_melbourne_data[melbourne_features]

from sklearn.tree import DecisionTreeRegressor
#Define model
melbourne_model = DecisionTreeRegressor()
#Fit model
melbourne_model.fit(X,y)

DecisionTreeRegressor()

# Calculating the mean absolute error:

In [ ]:
# !pip install scikit-learn
# !pip install sklearn.metrics
from sklearn.metrics import mean_absolute_error

predicted_home_prices = melbourne_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

434.71594577146544

#### train_test_split to break up the data into two pieces

In [ ]:
from sklearn.model_selection import train_test_split

#split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split everytime we 
# run this script

train_X, val_X, train_y, val_y = train_test_split(X,y, random_state = 0)

#Define model
melbourne_model = DecisionTreeRegressor()
# Fit model
melbourne_model.fit(train_X, train_y)

# get predicted prices on validation data
val_predictions = melbourne_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

261491.93867010975

# Exercise: Model Validation

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
melbourne_file_path = '/content/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path)
y = melbourne_data.Price
melbourne_features = ['Rooms','Bathroom','Landsize','Lattitude','Longtitude']
X =melbourne_data[melbourne_features]
melbourne_model = DecisionTreeRegressor()
melbourne_model.fit(X,y)

print("First in-sample predictions:",melbourne_model.predict(X.head()))
print("Actual target values for those homes:", y.head().tolist())

First in-sample predictions: [1480000. 1035000. 1465000.  850000. 1600000.]
Actual target values for those homes: [1480000.0, 1035000.0, 1465000.0, 850000.0, 1600000.0]

## underfitting and Overfitting
This is a phenomenon called overfitting, where a model matches the training data almost perfectly, but does poorly in validation and other new data

When a model fails to capture important distinctions and patterns in the data, so it performs poorly even in training data, that is called underfitting.

![Screenshot_20221225_232146.png]()

# Example

There are a few alternatives for controlling the tree depth, and many allow for some routes through the tree to have greater depth than other routes. But the max_leaf_nodes argument provides a very sensible way to control overfitting vs underfitting. The more leaves we allow the model to make, the more we move from the underfitting area in the above graph to the overfitting area.

We can use a utility function to help compare MAE scores from different values for max_leaf_nodes:

In [ ]:
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
  model = DecisionTreeRegressor(max_leaf_nodes = max_leaf_nodes, random_state=0)
  model.fit(train_X, train_y)
  preds_val = model.predict(val_X)
  mae = mean_absolute_error(val_y, preds_val)
  return(mae)

In [ ]:
# Data Loading Code Runs At This Point
import pandas as pd

# Load data
melbourne_file_path = '/content/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path)
# Filter rows with missing values
filtered_melbourne_data = melbourne_data.dropna(axis = 0)
# Choose target and features
y = filtered_melbourne_data.Price 
melbourne_features = ['Rooms','Bathroom','Landsize','BuildingArea','YearBuilt','Lattitude','Longtitude']
X = filtered_melbourne_data[melbourne_features]

from sklearn.model_selection import train_test_split

#split data into training and validation data, for both features and target
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

In [ ]:
# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5,50, 500, 5000]:
   my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
   print("Max leaf nodes: %d \t\t Mean Absolute Error: %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5 		 Mean Absolute Error: 347380
Max leaf nodes: 50 		 Mean Absolute Error: 258171
Max leaf nodes: 500 		 Mean Absolute Error: 243495
Max leaf nodes: 5000 		 Mean Absolute Error: 254983

In [ ]:
# Here is a short solution with a dict comprehension.
# The lesson gives an example of how to do this with an explicit loop.
candidate_max_leaf_nodes = [5, 25, 50, 100, 250, 500]
scores = { leaf_size: get_mae(leaf_size, train_X, val_X, train_y, val_y) for leaf_size in candidate_max_leaf_nodes}
#print("leaf_size: %d \t\t Mean Absolute Error: %d" %(leaf_size, scores))
best_tree_size = min(scores, key=scores.get)
print(best_tree_size)

500

In [ ]:
# Fit the model with best_tree_size. Fill in argument to make optimal size
final_model = DecisionTreeRegressor(max_leaf_nodes = best_tree_size, random_state =1 )
final_model.fit(X, y)

DecisionTreeRegressor(max_leaf_nodes=500, random_state=1)

### youtube, Understanding Mean Absolute Error and Mean Squared Error as ML metrices and loss functions

https://youtu.be/fk7bzKFDmk8

yet to do matplotlib

In [ ]:
# understaning Mean Absolute Error and Mean Squared Error as ML metrices and loss functions

"""
MAE vs MSE for machine learning metrices and loss functions
"""

# Understanding MAE / MSE metrices
import numpy as np

true = [234,285,324,248,423,345,422,345,367,285]
predicted = [248,310,340,265,403,325,400,322,387, 300]

# # Let us define our own MAE function
def mae(y_true, predictions):
  y_true, predictions = np.array(y_true), np.array(predictions)
  return np.mean(np.abs(y_true - predictions))

print(mae(true,predicted))  

# #Using pre-built function from sklearn
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(true, predicted))

# #MSE 
mse = np.square(np.subtract(true,predicted)).mean()
print(mse)

from sklearn.metrics import mean_squared_error
print(mean_squared_error(true, predicted))

#############################################################

true = [234,285,324,248,423,345,422,345,367,285]
predicted = [450,310,340,265,403,325,400,322,387, 300]

print(mae(true, predicted))
print(mean_squared_error(true, predicted))

##############################################################

19.2
19.2
380.4
380.4
39.4
5026.4

# Exercise: Underfitting and Overfitting

#### optimize the size of the tree to make better predictions

# Random Forests
##### Decision Tree models, which are not sophisticated by modern machine learning standards.Random forests (more sophisticated machine learning algorithm) to improve your models even more

In [ ]:
import pandas as pd

# Load data
melbourne_file_path = '/content/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path)
#Filter rows with missing values
melbourne_data = melbourne_data.dropna(axis = 0)
#Choose target and features
y = melbourne_data.Price 
melbourne_features = ['Rooms','Bathroom','Landsize','BuildingArea','YearBuilt','Lattitude','Longtitude']
X = melbourne_data[melbourne_features]

from sklearn.model_selection import train_test_split

# split data into training and validata data, for both features and target
# The split is based on a random number generator. Supplying numeric value to
#the random_state argument guarantees we get the same split every time we
# run this script.
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

We build a random forest model similarly to how we built a decision tree in scikit-learn - this time using the RandomForestRegressor class instead of DecisionTreeRegressor.

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state = 1)   
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, melb_preds))

191669.7536453626

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state = 1)   
forest_model.fit(X, y)
melb_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, melb_preds))

71064.5192843309

### There is likely room for further improvement, but this is a big improvement over the best decision tree error of 250,000. There are parameters which allow you to change the performance of the Random Forest much as we changed the maximum depth of the single decision tree. But one of the best features of Random Forest models is that they generally work reasonably even without this tuning.

### Exercise: Machine learning Competition

In [ ]:
# output = pd.DataFrame({'Id': test_data.Id,
#                        'SalePrice': test_preds})
# output.to_csv('submission.csv',index=False)