In [7]:
import pandas as pd 
df = pd.read_csv('D:\\practice\\FundamentalsofMachineLearning\\Numpy\\codebasics\\nyc_weather.csv')

# df.head()
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [6]:
df['Temperature'].max()

50

In [8]:
df['EST'][df['Events'] == 'Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

## creating dictionary

In [13]:
import pandas as pd 

# df1 = pd.read_csv('D:\\practice\\FundamentalsofMachineLearning\\Numpy\\codebasics\\nyc_weather.csv')

# df1

weather_data = {
    'day' : ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017'],
    'temperature' : [32,35,28,32],
    'windspeed' : [6,7,7,7],
    'event' : ['Rain', 'Sunny', 'snow', 'Rain']

}

df2 = pd.DataFrame(weather_data)
df2

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          7   snow
3  1/4/2017           32          7   Rain

In [15]:
df2.shape

(4, 4)

In [16]:
rows, columns = df2.shape  
rows

4

In [17]:
df2.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          7   snow
3  1/4/2017           32          7   Rain

In [18]:
df2.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [19]:
df2.tail(2)

        day  temperature  windspeed event
2  1/3/2017           28          7  snow
3  1/4/2017           32          7  Rain

In [25]:
df2[0:3]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          7   snow

In [26]:
df2[:]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          7   snow
3  1/4/2017           32          7   Rain

In [27]:
df2.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [28]:
df2.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
Name: day, dtype: object

In [29]:
df2.event     #df2['event']

0     Rain
1    Sunny
2     snow
3     Rain
Name: event, dtype: object